@model List<MovieZone.ViewModels.MovieRentalViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Rental</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.User.FullName) *@
                User
            </th>
            <th>
                Movie Title
            </th>
            <th>
                Rent Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Duration
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @item.user.FullName
            </td>
            <td>
                @item.movie.Title
            </td>
            <td>
                @item.movieRental.RentDate
            </td>
            <td>
                 @item.movieRental.EndDate
            </td>
            <td>
                 @item.movieRental.Duration.Days
                Days
            </td>
            <td>
                 @item.movieRental.TotalPrice
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.movieRental.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.movieRental.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.movieRental.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
